@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

:root {
  --white: hsl(60, 100%, 100%);
  --white-soft: hsla(180, 6%, 93%, 1);
  
  --primary: hsl(79, 52%, 58%, 1);
  --primary-soft: hsla(185, 57%, 56%, 0.2);

  --secundary: hsl(338, 91%, 65%, 1);
  --secundary-soft: hsla(338, 91%, 65%, 0.2);

  --tertiary: hsl(47, 94%, 72%);

  --dark: hsl(0, 0%, 9%);
  --dark-soft: hsla(0, 0%, 9%, 0.8);
  
  --info: hsl(221, 100%, 69%, 1);
  --info-soft: hsl(216, 100%, 87%, 1);
  --info-dark: hsl(229, 74%, 27%, 1);
  
  --danger: hsl(359, 100%, 67%, 1);
  --danger-soft: hsl(14, 100%, 87%, 1);
  --danger-dark: hsl(338, 76%, 27%, 1);
  
  --warning: hsl(48, 93%, 56%, 1);
  --waring-soft:hsl(52, 98%, 83%, 1);
  
  --success:hsl(94, 62%, 58%, 1);
  --success-soft:hsl(84, 86%, 86%, 1);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-heading: var(--dark);
  --color-text: var(--dark-soft);

  --section-gap: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-size: 16px;
}

body {
  min-height: 100vh;
  color: var(--dark-soft);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Nunito, Ubuntu, Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 1280px;
}
.content {
  display: grid;
  grid-template-columns: 0.5fr auto;
  gap: 2rem;
  align-items: start;
  justify-items: start;
  justify-content: start;
  height: 100vh;
}
